<div class="panel-heading no-border bg-primary">
	<span class="text-lt">修改密码</span>
</div>
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light" ng-controller="PasswordCtrl">
	<div class="wrapper-lg">
		<form name="change_psw_form" class="form-horizontal form-validation">
			<div class="form-group m-b-sm">
				<label class="col-sm-5 control-label">原密码：</label>
				<div class="col-sm-3">
					<input type="password" class="form-control" ng-model="param.oldPassword"
						   ng-minlength="6" ng-maxlength="16" required ng-pattern="/^([a-zA-Z0-9]+)$/">
				</div>
			</div>
			<div class="form-group m-b-sm">
				<label class="col-sm-5 control-label">新密码：</label>
				<div class="col-sm-3">
					<input type="password" class="form-control" ng-model="param.newPassword" placeholder="6至16个字符"
						   ng-minlength="6" ng-maxlength="16" required ng-pattern="/^([a-zA-Z0-9]+)$/">
				</div>
			</div>
			<div class="form-group m-b-sm">
				<label class="col-sm-5 control-label">再次输入新密码：</label>
				<div class="col-sm-3">
					<input type="password" class="form-control" ng-model="param.twicePassword"
						   ui-validate="{a:'$value == param.newPassword'}" required>
				</div>
			</div>
			<div><label></label></div>
			<div class="form-group m-b-sm text-center">
					<button type="submit" class="btn btn-success" ng-disabled="change_psw_form.$invalid" ng-click="update()">修改</button>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript" src="view/user_manage/change_password.js"/>
<script src="js/md5.js"></script>

