<div class="panel-heading no-border bg-primary">
	<span class="text-lt">管理账号</span>
</div>
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light" style="height: 700px" ng-controller="userManageCtrl">
	<div class="col w-lg lter b-r">
		<div class="vbox">
			<div class="wrapper">
				<a href class="btn btn-sm btn-default btn-addon pull-right m-t-n-xs" ng-click="createItem()"><i
						class="fa fa-plus fa-fw m-r-xs"></i>新增账号</a>
				<div class="h4"><strong>账号</strong></div>
			</div>
			<div class="row-row">
				<div class="cell scrollable hover">
					<div class="cell-inner">
						<div class="m-t-n-xxs">
							<div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
								<a ng-repeat="item in items | filter:query" class="list-group-item m-l hover-anchor"
								   ng-class="{'select m-l-none': item.selected }" ng-click="selectItem(item)">
									<span ng-click='deleteItem(item)' class="pull-right text-muted hover-action">
										<i>删除</i>
									</span>
									<span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': item.selected }">
										昵称：&nbsp;&nbsp;<strong>{{ item.nickName }}</strong>
										<span ng-hide="item.nickName">未命名</span>
							  		</span>
								</a>
							</div>
						</div>
						<div class="text-center pos-abt w-full" style="top:50%;"
							 ng-hide="items.length">没有账号
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col bg-white-only">
		<div class="vbox">
			<div class="row-row">
				<div class="cell">
					<div class="cell-inner">
						<div class="wrapper-lg">
							<form name="group_edit_form" class="form-horizontal form-validation" ng-hide="!item">

								<div class="form-group m-b-sm">
									<label class="col-sm-2 control-label">昵称：</label>
									<div class="col-sm-6">
										<!--<input type="text" class="form-control" ng-model="item.nickName" onfocus="this.blur()">-->
										<label class="control-label">{{item.nickName}}</label>

									</div>
								</div>
								<div class="form-group m-b-sm">
									<label class="col-sm-2 control-label">账号：</label>
									<div class="col-sm-6">
										<!--<input type="text" class="form-control" ng-model="item.userName" onfocus="this.blur()">-->
										<label class="control-label">{{item.userName}}</label>
									</div>
								</div>
								<div class="form-group m-b-sm">
									<label class="col-sm-2 control-label">密码：</label>
									<div class="col-sm-6">
										<button type="submit" class="btn-sm btn-info" ng-click="resetPsw(item)">重置密码</button>
									</div>
								</div>
								<div class="form-group m-b-sm">
									<label class="col-sm-2 control-label">可操作赛事：</label>
									<div class="col-sm-10 checkbox-inline">
										<label class="i-checks col-sm-6" ng-repeat="game in gameList">
											<input type="checkbox" ng-checked="isChecked(game.gameID,item)"
												   ng-click="updateSelection($event,game.gameID, item)"/>
											<i></i>
											{{game.gameName}}
										</label>
									</div>
								</div>
								<div><label></label></div>
								<div><label></label></div>
								<div class="form-group m-b-sm">
									<div class="col-sm-10 text-center">
										<button type="submit" class="btn btn-success"
												ng-hide="item.saveText == '未更改'"
												ng-click="save(item)">提交对“{{item.nickName}}”的修改</button>
									</div>
								</div>
							</form>
							<div class="text-center" ng-hide="items.length">
								<h3>请新增账号</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="view/user_manage/user_manage.js"/>
<script src="js/md5.js"></script>

